<footer class="bottom-nav">
    <div>
        <h2>RecommendIT</h2>
        <p class="nav__p">Carefully curated online design store, founded and designed by <a href="https://onno.studio/" class="nav__link-inline" target="_blank">Ruby Bacanovic</a></p>
    </div>
    <div>
        <h2>Contact</h2>
        <a href="mailto:" class="nav__link">Email us</a>
        <a href="#" class="nav__link">Work with us</a>
    </div>
    <div>
        <h2>Newsletter</h2>
        <p class="nav__p">Click here to <a href="mailto:" class="nav__link-inline">subscribe.</a></p>
        <p class="nav__p">Don´t worry. We hate spam too</p>
    </div>
    <div>
        <h2>Find Us Here</h2>
        <a href="facebook.com" class="nav__link">Facebook</a>
        <a href="Instagram" class="nav__link">Instagram</a>
        <a href="Twitter" class="nav__link">Twitter</a>
    </div>
</footer>

<script src="/assets/js/main.js"></script>
</body>
</html>