<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecommendIT</title>
    <link rel="stylesheet" href="/assets/css/style.css"> <!--absolute Pfad-->
    <link rel="stylesheet" href="/assets/css/admin.css"> <!--absolute Pfad-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    </style>
</head>
<body>
    
