<nav class="header-nav">
    <div>
    <a id="logo" class="nav__link" href="/admin"><h1>RecommendIt</h1></a>
   <br>
   <br>
  <span class="animate-border border-black"></span>
    </div>
    <div class="menu">
        <label for="menu-toggle" class="hamburger">&#9776;</label>
        <input type="checkbox" id="menu-toggle">

        <ul class="header-menu">
             <!-- <li class="header__item"><a href="/weekly" class="nav__link">Weekly Recommendations</a></li> -->
           <!-- <li class="header__item"><a href="/lessThan30" class="nav__link">Less than 30$</a></li>  -->
            <li class="header__item"><a href="/add" class="nav__link">Add</a></li>  
            <li class="header__item"><a href="/logout" class="nav__link">Log out</a></li>  
        </ul>
    </div>
</nav>